# Ambiente Virtual Python
.venv/
venv/
ENV/

# Arquivo temporário e cache Python
__pycache__/
*.py[cod]

# Configurações locais do VS Code
.vscode/

# Arquivos de dados / variáveis de ambiente
.env
data/
*.csv
*.xlsxS